@import "tailwindcss";
@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.loading-bar {
  width: 100%;
  animation: loading 1.5s ease-in-out infinite;
}
